*/*/*-backups/
*/*/production/
*.p
*.img
*.lst
*.bin
*.hex
*.hexe
*.class
*.out
*.o
*.elf
*.debug.txt
*.hexe
*/*/obj_dir/
AS1802/Quartus_Proj/db/
AS1802/Quartus_Proj/output_files/
AS1802/Quartus_Proj/incremental_db/
AS1802/Quartus_Proj/*.bak
